body {
    max-height: 2000vh;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar-contents {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex: 1;
}

.highlight {
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.logo {
    width: 60px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px rgba(131, 128, 128, 1));
    position: static;
    animation: rotate 1s forwards, scale 1s forwards;
    animation-delay: 0s, 1s;
    filter: drop-shadow(0px 0px 3px #817c7c) drop-shadow(0px 0px 5px #111010);
}


.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links li {
    padding: 0 10px;
}

.links li a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #40e0d0;
    text-decoration: none;
    padding: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

.links a:not(.about-link):hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #40e0d0;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: underline 1s forwards;
}

.links a.about-link::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #40e0d0;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes underline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@media screen and (max-width:900px) {

    .links {
        display: none;
        position: fixed;
        top: -10px;
        right: 0;
        width: 30%;
        flex-direction: column;
        align-items: self-start;
        padding-left: 10px;
        box-sizing: border-box;
        z-index: 2;
        transition: all 0.3s ease;
    }

    .links.active {
        display: flex;
    }

    .links li a {
        display: block;
        margin: 10px 0;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        text-decoration: none;
    }

    .toggle-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 10px;
        z-index: 3;
    }

    .toggle-btn span {
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        z-index: 2;
        transition: all 0.3s ease;
    }

    .toggle-btn.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .toggle-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .toggle-btn.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}

.container1 {
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 130vh;
    background-color: #000;
    padding-top: 80px; 
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.image-container{
    position: relative;
    width: 100%;
    height: 300px;
    background-color:rgba(15, 15, 15, 1);
    overflow: hidden; 
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    transition: none; 
}

@keyframes scaleImage {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }
}

@keyframes scaleImage_3 {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}


@keyframes revealImage {
    from {
        object-fit: cover;
        object-position: center;
    }
    to {
        object-fit: contain;
        object-position: center;
    }
}

.image-container:hover img {
    animation: scaleImage 1.5s forwards, revealImage 0.5s  forwards; 
}

.image-container_3:hover img{
    animation: scaleImage_3 1.5s forwards, revealImage 0.5s forwards;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    text-shadow: 4px 4px 3px rgb(0, 0, 0);
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.overlay_3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    text-shadow: 4px 4px 3px rgb(0, 0, 0);
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.Statements {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height:500px;
}

.Statements h1 {
    margin: 0;
    font-size: 2rem;
}

.Statements p{
    margin-top: 10px;
    font-size: 1rem;
}

@media screen and (max-width: 750px) {
    .overlay h1 {
        font-size: 1.5rem;
    }

    .overlay p {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 500px) {

    .image-container {
        height: 200px; 
    }

    .overlay h1 {
        font-size: 1.2rem;
    }

    .overlay p {
        font-size: 0.75rem;
    }   
}


/* Container2 Styles */
.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, auto));
    gap: 20px;
    background-color: #212121; 
    padding: 20px;
    color: #e0e0e0; 
}


.container2 > div {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 8px 8px 16px #1a1a1a, -8px -8px 16px #363636; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.container2 > div:hover {
    box-shadow: inset 8px 8px 16px #1a1a1a, inset -8px -8px 16px #363636; 
    transform: translateY(-5px); 
}

.history, .mission_vision, .values, .team, .testimonials, .sustainability, .awards, .call_to_action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.history h2, .mission_vision h2, .values h2, .team h2, .testimonials h2, .sustainability h2, .awards h2, .call_to_action h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #40e0d0; 
}

.history p, .mission_vision p, .values ul, .team p, .testimonials p, .sustainability p, .awards p, .call_to_action p {
    font-size: 1rem;
    line-height: 1.5;
}

.values ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.values ul li {
    margin-bottom: 10px;
}

.team .team-member {
    display: grid;
    grid-template-columns: 100px 200px;
    gap:20px;
}

.call_to_action p a{
    color:black;
}

.team .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 4px 4px 8px #1a1a1a, -4px -4px 8px #363636; 
}

.team .team-member .member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; 
}

.team .team-member .member-info p {
    text-align: left; 
    margin-top: -4px;
}

/* General Responsive Styles */
@media screen and (min-width: 600px) {
    .container2 {
        grid-template-columns: 1fr 1fr;
    }

    .team .team-member img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 900px) {
    .container2 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .container2 {
        grid-template-columns: repeat(4, 1fr);
    }

    .team .team-member img {
        width: 100px;
        height: 100px;
    }
}

.container4 {
    min-height: 60vh;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    color: white;
}

.contact_information,
.About,
.My_Account {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
}

.About a,
.My_Account a {
    text-decoration: none;
    color: white;
}

.contact_information p:first-child,
.About p:first-child,
.My_Account p:first-child,
.Secured_Payments p:first-child {
    font-weight: bold;
    font-size: 1.6rem;
}

.About .about_us a {
    color: red;
}


.Secured_Payments {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
}

.payment_icons i {
    margin: 5px;
    font-size: 24px;
    cursor: pointer;
}

.subscription_form {
    margin-top: 20px;
}

.subscription_form input[type="email"] {
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    background-color: #333; 
    color: #fff; 
    box-shadow: inset 8px 8px 16px #1a1a1a, inset -8px -8px 16px #363636;
    outline: none;
}

.subscription_form button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}


@media screen and (max-width:1300px) {
    .subscription_form button {
        margin-top: 10px;
    }
}

@media screen and (max-width:800px) {
    .container4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width:500px) {
    .container4 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #b719b5;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
}

#back-to-top:hover {
    background-color: #eb00ef;
}

