body {
    max-height: 2000vh;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar-contents {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex: 1;
}

.highlight {
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.logo {
    width: 60px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px rgba(131, 128, 128, 1));
    position: static;
    animation: rotate 1s forwards, scale 1s forwards;
    animation-delay: 0s, 1s;
    filter: drop-shadow(0px 0px 3px #817c7c) drop-shadow(0px 0px 5px #111010);
}


.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links li {
    padding: 0 10px;
}

.links li a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #40e0d0;
    text-decoration: none;
    padding: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

.links a:not(.icon-link):hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #40e0d0;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: underline 1s forwards;
}


.links a.icon-link::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #40e0d0;
    position: absolute;
    bottom: 0;
    left: 0;
}


@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@media screen and (max-width:750px) {

    .links {
        display: none;
        position: fixed;
        top: -10px;
        right: 0;
        width: 30%;
        flex-direction: column;
        align-items: self-start;
        padding-left: 10px;
        box-sizing: border-box;
        z-index: 2;
        transition: all 0.3s ease;
    }

    .links.active {
        display: flex;
    }

    .links li a {
        display: block;
        margin: 10px 0;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        text-decoration: none;
    }

    .toggle-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 10px;
        z-index: 3;
    }

    .toggle-btn span {
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        z-index: 2;
        transition: all 0.3s ease;
    }

    .toggle-btn.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .toggle-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .toggle-btn.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}


.container1_cart {
    display: grid;
    max-height: 130vh;
    background-color: #131212;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.image-container{
    position: relative;
    width: 100%;
    height: 300px;
    background-color:rgba(15, 15, 15, 1);
    overflow: hidden; 
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    transition: none; 
}

@keyframes scaleImage {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }
}

@keyframes scaleImage_3 {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}


@keyframes revealImage {
    from {
        object-fit: cover;
        object-position: center;
    }
    to {
        object-fit: contain;
        object-position: center;
    }
}

.image-container:hover img {
    animation: scaleImage 1.5s forwards, revealImage 0.5s  forwards; 
}

.image-container_3:hover img{
    animation: scaleImage_3 1.5s forwards, revealImage 0.5s forwards;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    text-shadow: 4px 4px 3px rgb(0, 0, 0);
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}


.Statements {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height:500px;
}

.Statements h1 {
    margin: 0;
    font-size: 2rem;
}

.Statements p{
    margin-top: 10px;
    font-size: 1rem;
}

@media screen and (max-width: 750px) {
    .overlay h1 {
        font-size: 1.5rem;
    }

    .overlay p {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 500px) {

    .image-container {
        height: 200px; 
    }

    .overlay h1 {
        font-size: 1.2rem;
    }

    .overlay p {
        font-size: 0.75rem;
    }   
}

/* Add_to_cart.css */



.container2_cart input {
    width: 40px;
    padding:0;
}



.container2_cart {
    background: #111010;
    box-shadow: 7px 7px 15px #0b0b0b, -7px -7px 15px #171717;
    padding: 20px;
}

.container2_cart table {
    width: 100%;
    border-collapse: collapse;
}

.container2_cart th, .container2_cart td {
    border: none;
    padding: 15px;
    text-align: center;
    color: #f5f5f5;
}

.container2_cart th {
    background: #111010;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #0b0b0b, inset -5px -5px 10px #171717;
    font-weight: bold;
}

.container2_cart td {
    background: #111010;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #0b0b0b, inset -5px -5px 10px #171717;
}

.container2_cart img {
    max-width: 50px;
    height: auto;
}

.container2_cart .remove-item {
    cursor: pointer;
    color: #f00;
    font-size: 1.2em;
}

.container2_cart input[type="number"] {
    width: 50px;
    background: #111010;
    border: none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #0b0b0b, inset -5px -5px 10px #171717;
    text-align: center;
    color: #f5f5f5;
}

.container2_cart table tr:not(:first-child) {
    margin-top: 10px;
}

.container2_cart th, .container2_cart td {
    margin-bottom: 10px;
}


.container3_cart {
    min-height: 70vh;
    background: #000;
    box-shadow: 7px 7px 15px #0b0b0b, -7px -7px 15px #171717;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    color: white;
    padding: 20px;
}

.contact_information,
.About,
.My_Account,
.Secured_Payments {
    background: #000;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #0b0b0b, inset -5px -5px 10px #171717;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
    padding: 20px;
}

.About a,
.My_Account a {
    text-decoration: none;
    color: white;
}

.contact_information p:first-child,
.About p:first-child,
.My_Account p:first-child,
.Secured_Payments p:first-child {
    font-weight: bold;
    font-size: 1.6rem;
}

.payment_icons i {
    margin: 5px;
    font-size: 24px;
    cursor: pointer;
}

.subscription_form {
    margin-top: 20px;
}

.subscription_form input[type="email"] {
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    background-color: #333; 
    color: #fff; 
    box-shadow: inset 5px 5px 10px #0b0b0b, inset -5px -5px 10px #171717;
    outline: none;
}

.subscription_form button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 1300px) {
    .subscription_form button {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1025px) {
    .container3_cart {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 500px) {
    .container3_cart {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }
}