body {
    max-height: 2000vh;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 150%;
    height: auto;
}


.social-icons {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 20px;
    justify-content: end;
    align-items: end;
}

.social-icons a {
    margin-left: 10px;
    font-size: 24px;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar-contents {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex: 1;
}

.logo {
    width: 60px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px rgb(255 255 255 / 20%);
    position: static;
    animation: rotate 1s forwards, scale 1s forwards;
    animation-delay: 0s, 1s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(-80px);
    transition: 0.9s all ease-in-out;
}

.TextPart.Animation-header h1 {
    overflow: hidden;
    animation: slideSide 1s ease-in-out forwards;
}

@keyframes slideSide {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.Animation-appear {
    opacity: 1;
    transform: translateX(0px);
}

.Animation-appear-header {
    opacity: 1;
    transform: translateY(0px);
}

.links li {
    padding: 0 10px;
}

.links li a {
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    text-decoration: none;
    padding: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

.links a:hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: underline 1s forwards;
}

@keyframes underline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    background-color: #000;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.TextPart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    color: white;
}

.red-container {
    grid-column: 2;
    grid-row: 1 / 4;
    background-color: red;
    transform: skewX(328deg);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px red;
    }

    100% {
        box-shadow: 0 0 20px 5px red;
    }
}

.image-HeadPhone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: grow 1s forwards;
}

@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.red-circle-container1 {
    position: absolute;
    bottom: 10px;
    left: 50px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: right;
    align-items: center;
}

.image-earbud1 img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.red-circle-container2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-earbud2 img {
    width: 90%;
    height: auto;
    border-radius: 50%;
}

.image-earbud1,
.image-earbud2 {
    animation: earbudSize 2s forwards;
}

@keyframes earbudSize {
    0% {
        transform: scale(0) translateY(50%);
        opacity: 0;
    }

    50% {
        transform: scale(1) translateY(-10%);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.bouncing-image {
    animation: bounce 4s infinite ease-in-out;
}


@media screen and (max-width: 1500px) {

    .red-circle-container2,
    .red-circle-container1 {
        background-image: linear-gradient(to bottom, #f5f5f5, #000000);
    }
}

@media screen and (max-width: 900px) {
    .red-container {
        display: none;
    }

    .red-circle-container2,
    .red-circle-container1 {
        background-image: linear-gradient(red, red, red);
    }
}

@media screen and (max-width: 680px) {

    .links {
        display: none;
        position: fixed;
        top: -10px;
        right: 0;
        width: 30%;
        flex-direction: column;
        align-items: self-start;
        padding-left: 10px;
        box-sizing: border-box;
        z-index: 2;
        transition: all 0.3s ease;
    }

    .links.active {
        display: flex;
    }

    .links li a {
        display: block;
        margin: 10px 0;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: white;
        text-decoration: none;
    }

    .toggle-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 30px;
        z-index: 3;
    }

    .toggle-btn span {
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        z-index: 2;
        transition: all 0.3s ease;
    }

    .toggle-btn.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .toggle-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .toggle-btn.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .container1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .TextPart {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-bottom: 60vh;
    }

    .TextPart.Animation-header h1 {
        overflow: hidden;
        animation: slideDown 1s ease-in-out forwards;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .image-HeadPhone {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .image-HeadPhone {
        text-align: center;
    }

    .image-HeadPhone img {
        display: inline-block;
    }

}

.container3 {
    min-height: 15vh;
    background-color: #212529;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contents ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.contents ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 30px;
}

.contents ul li i {
    font-size: 1.5rem;
}


.feature p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', serif;
    font-style: italic;
    color: #ffffff;
}

.feature i {
    color: red;
}

@media screen and (max-width: 768px) {
    .container3 {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .feature i {
        font-size: 1.5rem;
        margin-bottom: 3px;
    }

    .feature p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:465px) {
    .feature {
        flex-basis: 50%;
    }

    .contents ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

}

.container4 {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    min-height: 50vh;
}

.cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 1rem;
    color: white;
    font-family: 'Georgia', 'Times New Roman', serif;
}

.red_box,
.box-content {
    flex: 1;
    padding: 10px;
}

.red_box {
    display: flex;
    justify-content: center;
    height: 100px;
    max-width: 160px;
    border-radius: 10px;
    align-items: center;
    background-color: red;
    margin-left: 80px;
    margin-right: 50px;
    margin-bottom: 2px;
    position: relative;
}

.animated-image {
    max-width: 120%;
    height: auto;
    position: absolute;
    opacity: 0;
    transform: scale(0) translateY(50%);
    transition: opacity 1s, transform 1s;
}

.animated-image.in-view {
    animation: EarBud_animation 1s forwards;
}


.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.options .Description,
.options .price {
    margin-bottom: 10px;
    color: #d3d3d3;
    font-size: 1.2rem;
}

.booking,
.add-to-cart {
    margin: 5px 0;
    background-color: #58cede;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    animation: glow_button 2s forwards;
}


@keyframes glow_button {
    0% {
        box-shadow: 0 0 10px #58cede;
    }

    100% {
        box-shadow: 0 0 5px #58cede, 0 0 10px #58cede;
    }
}

.booking:hover,
.add-to-cart:hover {
    background-color: #84dbe6;
}

.options .rating {
    margin-top: 10px;
    font-size: 1.2rem;
    color: white;
}

.options p {
    color: white;
}


.Description {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.Description.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes EarBud_animation {
    0% {
        transform: scale(0) translateY(50%);
        opacity: 0;
    }

    50% {
        transform: scale(1) translateY(-10%);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width:900px) {
    .container4 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width:600px) {
    .box-content .Description {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .animated-image {
        max-width: 180%;
        opacity: 0;
        transform: scale(0) translateY(50%);
        transition: opacity 1s, transform 1s;
    }
}

.container5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    min-height: 150vh;
    background-color: black;
    padding: 20px;
}

.item {
    background-color: rgb(32, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
}

.item .price,
.item .rating {
    font-size: 1rem;
    text-align: center;
}

.item .price {
    color: white;
}

.item .rating {
    color: gold;
}


.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(6),
.item:nth-child(7),
.item:nth-child(8) {
    grid-column: span 1;
}

.item:nth-child(9) {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
}

.item:nth-child(9) img {
    max-width: 300px;
}

.item:nth-child(2) img {
    max-width: 600px;
}

.container5 .item img {
    opacity: 0; 
    transition: opacity 0.5s ease-out; 
}

.container5 .item img.scrolled {
    animation: EarBud_animation 2s forwards; 
}

@media screen and (max-width: 1000px) {
    .container5 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .item:nth-child(1),
    .item:nth-child(2),
    .item:nth-child(3),
    .item:nth-child(4),
    .item:nth-child(5),
    .item:nth-child(6),
    .item:nth-child(7),
    .item:nth-child(9) {
        grid-column: span 1;
    }

    .item:nth-child(8) {
        grid-row: 4/5;
        grid-column: 1/4;
    }
}

@media screen and (max-width: 768px) {
    .container5 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .item:nth-child(1),
    .item:nth-child(2),
    .item:nth-child(3),
    .item:nth-child(4),
    .item:nth-child(5),
    .item:nth-child(6),
    .item:nth-child(7),
    .item:nth-child(8),
    .item:nth-child(9) {
        grid-column: span 1;
    }
}

@media screen and (max-width: 480px) {
    .container5 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }

    .item:nth-child(1),
    .item:nth-child(2),
    .item:nth-child(3),
    .item:nth-child(4),
    .item:nth-child(5),
    .item:nth-child(6),
    .item:nth-child(7),
    .item:nth-child(8) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .item:nth-child(9) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}

.container6 {
    max-height: 60vh;
    background-color: black;
    display: grid;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    transition: transform 2s ease;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    transition: transform 1s ease-in-out, opacity 1s ease;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container #image1 {
    transform: scale(0.5);
    opacity: 0.3;
}

.image-container #image2 {
    transform: scale(0.8);
    opacity: 0.5;
}

.image-container #image3 {
    transform: scale(1.3);
    opacity: 1;
}

.image-container #image4 {
    transform: scale(0.8);
    opacity: 0.5;
}

.image-container #image5 {
    transform: scale(0.5);
    opacity: 0.3;
}

.slider button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 1rem;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container7 {
    max-height: 100vh;
    background-color: black;
    display: grid;
    overflow: hidden;
}

.background_red {
    background-color: rgb(26, 1, 136);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.image7 {
    position: relative;
    min-width: 100%;
    transform: scale(1);
    display: flex;
    align-items: center;
    margin-top: -120px;
    justify-content: center;
    animation:bounce 4s infinite ease-in-out;
}

.box7-contents {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.box7-contents p {
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.box7-contents button {
    border: none;
    border-radius: 50px;
    margin-bottom: 30px;
    padding: 10px;
}

.box7-contents button:hover {
    cursor: pointer;
}

.animated_image.in-view {
    animation: EarBud_animation 1s forwards;
}

@media screen and (max-width: 650px) {
    .above_image {
        transform: scale(1.3);
        margin-top: 20px;
    }
}


@media screen and (max-width: 480px) {
    .background_red {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .box7-contents {
        display: flex;
        align-items: center;
    }

    .box7-contents p {
        margin-left: 50px;
    }

    .above_image {
        transform: scale(1.2);
        margin-top: 40px;
    }
}

.container8 {
    min-height: 70vh;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    color: white;
}

.contact_information,
.About,
.My_Account {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
}

.About a,
.My_Account a{
    text-decoration: none;
    color:white;
} 

.contact_information p:first-child,
.About p:first-child,
.My_Account p:first-child,
.Secured_Payments p:first-child {
    font-weight: bold;
    font-size: 1.6rem;
}

.Secured_Payments {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
}

.payment_icons i {
    margin: 5px;
    font-size: 24px;
    cursor:pointer;
}

.subscription_form {
    margin-top: 20px;
}

.subscription_form input[type="email"] {
    padding: 5px;
    margin-right: 5px;
    border-radius:5px;
    border:none;
}

.subscription_form button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius:10px;
}

@keyframes EarBud_animation {
    0% {
        transform: scale(0) translateY(50%);
        opacity: 0;
    }

    50% {
        transform: scale(1) translateY(-10%);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.animated_image {
    opacity: 0; 
    transition: opacity 0.5s ease-out;
}

.animated_image.scrolled {
    animation: EarBud_animation 2s forwards; 
}


.description7 {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.description7.visible {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (max-width:1300px){
    .subscription_form button{
        margin-top: 10px;
    }
}

@media screen and (max-width:800px){
    .container8{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width:500px){
    .container8{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }
}
